*{
  margin: 0;
  padding: 0;
}
body: {
  font-family: 'Tangerine', serif;
  font-size: 48px;
  height=100%;
  background-color: white;

  /* scroll remove */
  overflow:hidden;
}
/*navbar*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>


/*this is a responsive grid*/


#wrapper {
  width: 300vw;
  height: 300vh;
  display: grid;
  grid-template-columns: repeat(9, 100vw);
  grid-template-rows: repeat(9, 100vh);
  grid-template-areas:
  "a b c"
  "d e f"
  "g h i";

}
/*webdev*/
.a{
  background-color: blue;
  grid-area: a;
}
.b{
  background-color: red;
  grid-area: b;
}
/*Photo*/
.c{
  background-color: yellow;
  grid-area: c;
}
.d{
  background-color: yellow;
  grid-area: d;
}
/*index*/
.e{
  background-color: blue;
  grid-area: e;
}
.f{
  background-color: red;
  grid-area: f;
}
/*Marketing*/
.g{
  background-color: red;
  grid-area: g;
}
.h{
  background-color: yellow;
  grid-area: h;
}
/*about*/
.i{
  background-color: blue;
  grid-area: i;
}
